<?xml version='1.0' encoding='utf-8'?>
<widget id="pl.uekcompanion" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>UEK Companion</name>
    <description>
        UEK Companion
    </description>
    <author email="support@uekcompanion.pl" href="http://uekcompanion.pl">
        UEK Companion Team
    </author>
    <preference name="fullscreen" value="true" />
    <content src="index.html" />
    <access origin="*" />
</widget>
